nav {
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 10;
  position: fixed;
  width:100vw;
  padding-top: 10px;
  i {
    padding-right: 5px;
  }
  .userPage:hover + .uk-navbar-dropdown {
    display: block;
  }
}