* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid #e8a54d;
  border-radius: 5px;
  background-color: lightblue;
}

.container {
  width: 75vw;
  margin: 0 auto;
  text-align: center;
}

.about {
  padding-top: 70px;
  text-align: center;
  background-image: image-url('top.jpg');
  background-size: cover;
  width: 100%;
  height: 700px;
  &__top {
    color: white;
    padding-top: 270px;
    font-size: 55px;
  }
  h1 {
    margin-top: 180px;
  }
  a {
    background-color:#c0392b;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
  }
}

.introduce {
  padding: 20px 0;
  @include commonBackgroundColor();
  .introduction__contents {
    margin: 0 auto;
  }
  span {
    font-size: 40px;
  }
  .introduction-box {
    margin: 10px;
  }
}

.item-list {
  padding: 100px 0 50px 0;
  @include commonBackgroundColor();
  &__index {
    justify-content: center;
    a {
      text-decoration: none;
      padding-left: 0;
      margin-left: 20px;
    }
  }
  .item-box {
    padding: 10px;
    margin: 15px 0;
    img {
      height: 150px;
      width: 150px;
    }
    p {
      margin: 2px 0;
    }
    hr {
      margin: 2px;
    }
    .reviews {
      font-size: 14px;
      margin: 1px 0;
    }
  }
  .item-index {
    display: inline-block;
    text-align: center;
    padding:10px 15px;
    background-color: lightblue;
    border-radius: 5px;
    text-decoration: none;
    width: 60%;
    margin-top: 10px;
  }
  .review {
    margin-bottom: 15px;
    .title {
      text-align: center;
    }
    &__index {
      margin: 10px 0;
    }
    &__box {
      display: flex;
      justify-content: center;
      padding: 10px;
    }
    &__left {
      a {
        text-decoration: none;
      }
      img {
        height: 100px;
        width: 100px;
      }
      p {
        margin: 3px;
      }
      .profile {
        display: flex;
        justify-content: center;
        .gender {
          margin-top: 0;
          padding-left: 20px;
        }
      }
    }
    &__center {
      margin: 5px 10px;
      .arrow_box {
        position: relative;
        background: #ffffff;
        border: 5px solid #e8a54d;
        border-radius: 5px;
      }
      .arrow_box:after, .arrow_box:before {
        right: 100%;
        top: 30%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      
      .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #ffffff;
        border-width: 10px;
        margin-top: -10px;
      }
      .arrow_box:before {
        border-color: rgba(232, 165, 77, 0);
        border-right-color: #e8a54d;
        border-width: 17px;
        margin-top: -17px;
      }
    }
    &__contents {
      text-align: left;
      padding: 5px;
      margin: 5px 10px;
    }
    &__image {
      width: 100px;
    }
    &__right {
      a {
        text-decoration: none;
      }
      img {
        height: 80px;
        width: 80px;
      }
      p {
        margin: 3px;
      }
    }
    &__edit {
      display: flex;
      flex-direction: column;
      .btn {
        display: inline-block;
        margin-bottom: 5px;
        padding: 5px 10px;
        border: 1px solid #e8a54d;
        border-radius: 5px;
      }
      .btn:hover {
        background-color: rgb(219, 157, 157);
      }
    }
  &__link {
    padding-left: 0;
  }

  }
}

.itemShow {
  padding-top: 100px;
  @include commonBackgroundColor();
  &__contents {
  display: flex;
  justify-content: center;
  }
  &__left {   
    img {
      height: 300px;
      width: 200px;
    }
  }
  &__right {
  text-align: left;
  margin: auto 0;
  margin-left: 30px;
  }
  &__details {
    font-size: 25px;
    padding: 10px 0 10px;
    border-bottom: 1px solid #000;
  }
  &__maker {
    a {
      text-decoration: none;
    }
  }
}

.reviewForm {
  @include commonBackgroundColor();
  padding: 100px 0 50px 0;
  &__title {
    margin-top: 50px;
  }
  .field {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 15px 0;
    textarea {
      line-height: 40px;
    }
  }
  &__content {
    font-size: 20px;
  }
  .actions {
    // margin: 20px;
    input {
      background-color: rgb(255, 177, 66);
      padding: 10px 20px;
      border: 1px solid #bdc3c7;
      border-radius: 5px;
      line-height: 10px;
      cursor: pointer;
    }
  }
}

.newItem {
  padding: 100px 0 50px 0;
  @include commonBackgroundColor();
  &__title {
    padding-right: 50px;
    margin-right: 20px;
  }
  &__contents {
    margin: 30px auto;
    width: 50%;
    border: 1px solid rgba(247, 241, 227, 0.229);
    border-radius: 5px;
    .field {
      display: grid;
      grid-template-columns: 2fr 3fr;
      margin: 5px 0px;
      p {
        font-size: 22px;
      }
    }
    label {
      font-size: 22px;
      padding: 5px 0;
      display: inline-block;
    }
    input {
      height: 30px;
      line-height: 30px;
      margin:5px 0;
    }
    .actions {
      margin: 20px;
      input {
        background-color: rgb(255, 177, 66);
        padding: 10px 20px;
        border: 1px solid #bdc3c7;
        border-radius: 5px;
        line-height: 10px;
        cursor: pointer;
      }
    }
  }
  &__selectBox {
    margin-bottom: 10px;
  }
  .back {
    padding: 10px 20px;
    background-color: #bdc3c7;
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
  }
}