<nav class="uk-navbar-container uk-margin nav-center" uk-navbar>
  <ul class="header-left uk-navbar-left uk-navbar-nav">
    <li><a class="uk-logo" href="#"><img src="logo1.jpg" alt="ロゴ"></a></li>
    <li><a href="#"><span class="fas fa-signal"></span>ランキング</a></li>
    <li><a href="#"><span class="fas fa-drumstick-bite"></span>アイテムを探す</a></li>
    <li><a href="#"><span class="fas fa-industry"></span>ブランドを探す</a></li>
    <li><a href="#"><span class="fas fa-search"></span>口コミを探す</a></li>
    <li><a href="#"><span class="fas fa-file"></span>新規登録</a></li>
    <li><a href="#"><span class="fas fa-sign-in-alt"></span>ログイン</a></li>
    <li><a href="#"><span class="fas fa-vial"></span>ゲストログイン</a></li>
  </ul>
</nav>
