<div class="itemShow">
  <div class="container">
    <h2>サラダチキン詳細情報</h2>
    <div class="itemShow__contents">
      <div class="itemShow__left">
        <%= image_tag "ピザ.jpg" %>
      </div>
      <div class="itemShow__right">
        <ul class="itemShow__profiles">
          <li class="itemShow__details itemShow__name">　商品名：　<%= @item.name %></li>
          <li class="itemShow__details itemShow__unitPrice">　　単価：　<%= @item.price %>円(税抜)</li>
          <li class="itemShow__details itemShow__maker">メーカー：　<%= link_to @item.maker, @item.maker_url %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="reviews">
    
  </div>
</div>