<div class="contents">
  <ul>
    <li><%= link_to "利用基準", "#"%></li>
    <li><%= link_to "プライバシーポリシー", "#"%></li>
    <li><%= link_to "お問い合わせ", "#"%></li>
  </ul>

  <div class="copyright">
    <p>©︎ 2020. ALL Rights My Salad Chiken </p>
  </div>
</div>